pcm/libPCM.a
*.o
*.so
*.csv
*.png
*.x
cpu_params.txt
redirected.txt
.vscode/*
EP_stdout.txt
redirected_GPC.txt
default_limits_dump.txt
build/*
*cpu_experiment_*
*gpu_experiment_*
minibenchmarks/openmp/fft
minibenchmarks/openmp/heat
minibenchmarks/openmp/integrate